@import "tailwindcss";

@theme {
  --color-main: #0ea5e9;
  --color-light-gray: #d9d9d9;
  --color-dark-gray: #3a3a3a;
}

/* 기본적으로 모바일 (작은 화면) 기준 */
html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  margin: 0;
  padding: 0;
  /* 웹 폰트를 최적화하는 Next.js의 next/font 사용 권장 */
  font-family: "Pretendard-Regular", sans-serif;
  /* 화면 스크롤 시 부드러운 스크롤 */
  scroll-behavior: smooth;
}
